{% extends 'worker/base.html' %}

{% block content %}


<style>


.dashboard-card{


background:white;

padding:25px;

border-radius:22px;

box-shadow:
0 10px 30px rgba(0,0,0,.08);

transition:.3s;

border-left:6px solid;


}


.dashboard-card:hover{

transform:translateY(-8px);

}




.card-title{

color:#64748b;

font-size:14px;

font-weight:600;

}



.amount{

font-size:32px;

font-weight:800;

margin-top:10px;

}





.chart-box{


background:white;

margin-top:30px;

padding:30px;

border-radius:25px;


box-shadow:
0 10px 30px rgba(0,0,0,.08);


}



.table-card{


background:white;

margin-top:30px;

border-radius:25px;

overflow:hidden;

box-shadow:
0 10px 30px rgba(0,0,0,.08);


}




.badge-payout{


background:#dcfce7;

color:#15803d;

padding:7px 15px;

border-radius:50px;

font-size:13px;

font-weight:600;


}


</style>





<div class="row g-4">


<div class="col-md-6">


<div class="dashboard-card"
style="border-color:#3b82f6;">


<div class="card-title">

This Month

</div>


<div class="amount">

₹{{ monthly_earnings }}

</div>


</div>


</div>






<div class="col-md-6">


<div class="dashboard-card"
style="border-color:#10b981;">


<div class="card-title">

Lifetime Earnings

</div>


<div class="amount text-success">

₹{{ total }}

</div>


</div>


</div>



</div>








<!-- Chart -->


<div class="chart-box">


<h4>
Earnings Overview
</h4>


<canvas id="earningChart"></canvas>


</div>








<!-- Transactions -->


<div class="table-card">


<table class="table align-middle mb-0">


<thead>


<tr>


<th>
Transaction
</th>


<th>
Service
</th>


<th>
Customer
</th>


<th>
Date
</th>


<th>
Amount
</th>


<th>
Status
</th>


</tr>


</thead>



<tbody>



{% for booking in jobs %}


<tr>


<td>

#TRX-{{ booking.id }}

</td>



<td>

{{ booking.service.name }}

</td>




<td>

{{ booking.customer.user.username }}

</td>




<td>

{{ booking.booking_date|date:"d M Y" }}

</td>




<td>

₹{{ booking.amount }}

</td>




<td>

<span class="badge-payout">

{{ booking.status }}

</span>


</td>



</tr>



{% empty %}



<tr>

<td colspan="6"
class="text-center">

No completed jobs yet.

</td>

</tr>



{% endfor %}




</tbody>


</table>


</div>









<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



<script>


const ctx =
document.getElementById(
"earningChart"
);



new Chart(ctx,{


type:"line",



data:{


labels:[

"Jan",
"Feb",
"Mar",
"Apr",
"May",
"Jun",
"Jul",
"Aug",
"Sep",
"Oct",
"Nov",
"Dec"

],



datasets:[{


label:"Earnings ₹",


data:
{{ monthly_data|safe }},


borderWidth:3,


tension:.4


}]


},



options:{


responsive:true,


plugins:{


legend:{


display:true


}


},



scales:{


y:{


beginAtZero:true


}


}


}



});



</script>



{% endblock %}