{% extends "admin/base.html" %}
{% block content %}

<h4>Support Inbox</h4>

<div class="row">

    {% for chat in chats %}

    <div class="col-md-4">
        <div class="card p-3 mb-3">

            <h6>{{ chat.user.username }}</h6>
            <p class="text-muted small">{{ chat.chat_type }}</p>

            <a href="{% url 'admin_chat' chat.id %}" class="btn btn-primary btn-sm w-100">
                Open Chat
            </a>

        </div>
    </div>

    {% empty %}
        <p class="text-muted">No active chats</p>
    {% endfor %}

</div>

{% endblock %}